body {
  padding-top: 4.5rem;
}

.alert-pre {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

/*custom background for the navbar*/
.bg-custom-background {
  background-color: seagreen;
}
.bg-local {
  background-color: lightskyblue;
}
.bg-sandbox {
  background-color: lightcoral;
}